@import "~/src/common/base.scss";

.auth-container {
    // background-color: $main-color;
    // background-image: url("../../assets/images/auth.png");
    // background-size: cover;

    .auth-container--inner {
        border-style: solid;
        background-color: $main-light-color;
        overflow: hidden;
    }

    .auth-container__grid {
        align-content: center;
        justify-content: flex-start;
        margin-left: calc($base-margin * 4);
    }
}

#auth__wine {
    position: relative;
    font-size: 125%;
    z-index: 1;
    margin-right: calc($base-margin * -6);
}

.auth-link {
    transition: 0.25s;
    user-select: none;

    &:hover {
        transform: translate(0, calc($base-height * -2.5));
    }
}

.auth-button {
    background-color: $main-color;
}

.auth__card--footer {
    margin: calc($base-margin * 2) 0;
}
