/*
* @todo fonts 
*/

$base-width: 0.25rem;
$base-height: 0.25rem;
$base-font-size: 0.25rem;
$base-padding: 0.25rem;
$base-margin: 0.25rem;
$base-border-radius: 0.25rem;

$main-dark-color: #0d1b2a;
$main-shallow-dark-color: #1b263b;
$main-color: #415a77;
$main-shallow-light-color: #778da9;
$main-light-color: #e0e1dd;
